<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980080229928-0k9i9f3lah6b3crplc8362kuje2i9nc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980080229928-0k9i9f3lah6b3crplc8362kuje2i9nc1</string>
	<key>API_KEY</key>
	<string>AIzaSyDtXt0BegiMztJ7AXX9nesS2mxuzPrVzeM</string>
	<key>GCM_SENDER_ID</key>
	<string>980080229928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.fruitlab.bluetoothOnmyBody</string>
	<key>PROJECT_ID</key>
	<string>bluetooth-on-my-body-dev-b7f42</string>
	<key>STORAGE_BUCKET</key>
	<string>bluetooth-on-my-body-dev-b7f42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980080229928:ios:5fff45af21b8650353bf1d</string>
</dict>
</plist>